<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cyf.sweethome" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".SweetHome"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomepageActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activities.MyHouseActivity" />
        <activity android:name=".activities.CheckRoomLogActivity" />
        <activity android:name=".activities.CheckRoomActivity" />
        <activity android:name=".activities.CheckRoomDetailsActivity" />
        <activity android:name=".activities.SubmitRepairActivity" />
        <activity android:name=".activities.WorkOrderListActivity" />
        <activity android:name=".activities.WorkOrderDetailsActivity" />
        <activity android:name="com.android.shuizu.myutillibrary.activities.PhotoViewActivity"/>
        <activity android:name=".activities.PingJiaActivity" />
        <activity android:name=".activities.MemberApplyActivity" />
        <activity android:name=".activities.MemberInfoNewsActivity" />
        <activity android:name=".activities.MemberInfoDetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".activities.ActInfoDetailsActivity" />
        <activity android:name=".activities.CheckBodyInfoDetailsActivity" />
        <activity android:name=".activities.GetHelpActivity" />
        <activity android:name=".activities.PraiseActivity" />
        <activity android:name=".activities.FeedbackActivity" />
        <activity android:name=".activities.MyShareCodeActivity" />
        <activity android:name=".activities.VolunApplyActivity" />
        <!--        <activity android:name=".ui.LoginActivity" android:launchMode="singleTask"/>-->

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 这个Service要继承JCommonService -->
        <service android:name="PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name="MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.cyf.sweethome"></category>
            </intent-filter>
        </receiver>
    </application>

</manifest>